* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
}

.init{
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgb(29, 29, 29) 50%, rgb(46, 46, 46) 100%);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 4rem 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    border: 1px solid red;
}

.contLoader{
    height: 100vh;
}

.contLoader div{
    animation: fadeIn 1.2s ease-in both;
    opacity: 0;
}

.contLoader div:nth-child(1){
    animation-delay: 1s;
    background-color: #ffffff47;
}
.contLoader div:nth-child(2){
    animation-delay: 0.2s;
    background-color: #ffffff47;
}
.contLoader div:nth-child(3){
    animation-delay: 1.7s;
    background-color: #ffffff47;
}
.clip-path{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vh;
    height: 40vh;
    -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
    clip-path: polygon(100% 0, 0 0, 50% 100%);
    z-index: 1;
}

.clip-pathD{
    position: absolute;
    top: calc(50% - 12vh);
    left: calc(50% - 21vh);
    transform: translate(-50%, -50%);
    width: 15vh;
    height: 15vh;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.clip-pathI{
    position: absolute;
    top: calc(50% + 12.5vh);
    left: calc(50% + 9vh);
    transform: translate(-50%, -50%);
    width: 15vh;
    height: 15vh;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

@media (max-height: 460px) or (max-width: 500px){
    .clip-path{
        top: 50%;
        left: 50%;
        width: min(50vh, 50vw);
        height: min(50vh, 50vw);
    }
    .clip-pathD{
        top: calc(50% - min(22vh, 22vw));
        left: calc(50% - min(33vh, 33vw));
        width: min(20vh, 20vw);
        height: min(20vh, 20vw);
    }
    .clip-pathI{
        top: calc(50% + min(25vh, 25vw));
        left: calc(50% + min(10vh, 10vw));
        width: min(20vh, 20vw);
        height: min(20vh, 20vw);
    }
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes autoFadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes autoFadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.autoFadeIn {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-name: autoFadeIn;
    animation-name: autoFadeIn;
}